body { background-color:#dad8d8; }

@font-face {
	font-family: 'GothamHTFBold';
	src: url('../font/gothamhtf-bold-webfont.eot');
	src: local('☺'), url('../font/gothamhtf-bold-webfont.woff') format('woff'), 
					 url('../font/gothamhtf-bold-webfont.ttf') format('truetype'), 
					 url('../font/gothamhtf-bold-webfont.svg#webfontC2m1kj8L') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTFMedium';
	src: url('../font/gothamhtf-medium-webfont.eot');
	src: local('‚ò∫'), url('../font/gothamhtf-medium-webfont.woff') format('woff'), 
					   url('../font/gothamhtf-medium-webfont.ttf') format('truetype'), 
	                   url('../font/gothamhtf-medium-webfont.svg#webfontZ5DLncaK') format('svg');
	font-weight: normal;
	font-style: normal;
}

.centralizarCorpo   { margin:auto 50%; left:-478px; position:relative; }
.img_background { 
	background-image:url(../images/curriculo/background.png); 
	background-repeat:no-repeat; 
	width:951px; 
	height:1532px;
}
.alinhaFace { position:relative; left:-486px; top:50px; margin:auto 50%; }
.face { 
	background-image:url(../images/curriculo/face.png); 
	background-repeat:no-repeat; 
	width:112px; 
	height:105px;
}
.alinhaRobo { position:fixed; left:380px; top:70px; margin:auto 50%; }
.rafael_robo { 
	background-image:url(../images/curriculo/robo_rafa.png); 
	background-repeat:no-repeat; 
	width:158px; 
	height:260px;
}
.alinhaMaos { position:fixed; left:450px; top:70px; margin:auto 50%; }
.robo_maos { 
	background-image:url(../images/curriculo/maos.png); 
	background-repeat:no-repeat; 
	width:19px; 
	height:175px;
}

.title_curriculo { position:absolute; left:120px; top:60px; }
.name { font-family: 'GothamHTFBold'; font-size:38px; }
.job { font-family: 'GothamHTFMedium'; font-size:18px; }



.detalhesPos { position:absolute; left:120px; top:70px; margin:auto 50%; }
.detalhes { 
	background-image:url(../images/curriculo/detalhes.png); 
	background-repeat:no-repeat; 
	width:64px; 
	height:75px;
}
.gmail { position:absolute; left:75px; }
.hotmail { position:absolute; left:75px; top:29px; }
.twitter { position:absolute; left:75px; top:58px; }

.resume {
	position:absolute;
	left:120px;
	top:180px;
	width:700px;
	line-height:1.5em;	
}